<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497261573501-n9f4iibqdbrrg4umo769rpcl0of198jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497261573501-n9f4iibqdbrrg4umo769rpcl0of198jk</string>
	<key>API_KEY</key>
	<string>AIzaSyBDWHW0W0faaTuSgAV_VOhOQ4B_CICmoN0</string>
	<key>GCM_SENDER_ID</key>
	<string>497261573501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bobbykiaie.training-volume-ios</string>
	<key>PROJECT_ID</key>
	<string>workout-volume</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-volume.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497261573501:ios:b524599b60f3dad1e34814</string>
</dict>
</plist>